html, body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 699px;
}

.header-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.task {
  box-shadow: 0 0 5px 0 rgb(199, 199, 199);
  margin-bottom: 20px;
  padding: 10px;
}

.task-caption {
  margin-bottom: 10px;
  font-size: 20px;
}

.task-result, .task-btn_result {
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #28a745;
  color: white;
}

.task-btn_result:hover {
  background-color: #218838;
}

.task-result + .task-result {
  margin-top: 5px;
}

.task-btn {
  outline: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}